= simple_form_for [:admin, @image], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :description
  = f.input :tags
  = f.input :user_agent
  = f.input :ip
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_images_path, :class => 'btn'
